nav#nav 
    ul 
        li 
            a(href="/" class = {currentPage : curr === '/'}) Home 
        li 
            a(href="/about" class = {currentPage : curr === '/about'}) About
        li 
            a(href="/pricing" class = {currentPage : curr === '/pricing'}) Pricing
        li 
            a(href="/contact" class = {currentPage : curr === '/contact'}) Contacts