doctype html
html(lang="en")
    head
        include head.pug
        title #{title}
    body 
        - var curr = '/'
        include navbar.pug
        
        div#content
            h1 Get membership for 60% off now! 

            form(action="", method="post") 
                input.inputC(type="text", name="name" placeholder="John Roberts")
                input.inputC(type="email", name="email" placeholder="johnroberts@example.com")
                input.inputC(type="number", name="number" placeholder="+447911123456")
                textarea.inputC(type="address", name="address" placeholder="9th Street, Birmingham")
                button(type="submit") Submit